@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

html,
body {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p,
a,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  font-size: 1rem;
}

a:link,
Link:link {
  text-decoration: none;
  /* text-transform: uppercase; */
  color: rgb(182, 94, 94);
}

a:visited,
Link:visited {
  text-decoration: none;
  color: rgb(182, 94, 94);
}

a:hover,
Link:hover {
  color: indianred;
}

a:hover.NavItem,
Link:hover.NavItem {
  border-bottom: 3px solid indianred;
  margin-bottom: -3px;
  color: indianred;
}

a:active,
Link:active {
  text-decoration: none;
  color: rgb(182, 94, 94);
}

.NoBorder:hover {
  margin-bottom: 0px;
  border-bottom: 0px solid black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
  font-size: 0.8rem;
}

.App {
  background-color: #a0193c;
  background-image: url(../images/wallpaper.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: repeat;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  position: relative;
  padding-bottom: 50px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  padding: 10px 20px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.AppLogo {
  background-image: url(../images/logo.png);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 70px;
  height: 70px;
  padding: 0 20px;
}

.NavItem {
  font-family: "Fjalla One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  padding: 8px;
  margin: 2px;
  cursor: pointer;
}

.App-body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  flex-grow: 2;
  font-size: calc(10px + 2vmin);
  color: rgb(36, 36, 36);
}

.CardContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 14px;
}

/* .Card {
  width: 240px;
  height: 96px;
  background-color: white;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  box-shadow: 3px 3px #cccccc;
  text-transform: capitalize;
}

.Card:hover {
  box-shadow: 3px 3px #afafaf;
} */

.btn {
  font-family: "Fjalla One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: #ffffff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 0.7em 1.7em;
  text-align: center;
  margin: 10px;
  width: 100px;
  opacity: 0.8;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.VisibilityHidden {
  visibility: hidden;
}

.App-footer {
  background-color: #0b0c0e;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(73, 66, 66);
}

.App-footer > p {
  font-family: "Fjalla One", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  font-size: 0.8rem;
}

.App-link {
  color: #61dafb;
}

.github-corner:hover .octo-arm {
  animation: octocat-wave 560ms ease-in-out;
}

@keyframes octocat-wave {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width: 500px) {
  .github-corner:hover .octo-arm {
    animation: none;
  }
  .github-corner .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.MainContainer {
  background-color: honeydew;
}
